 body {
    font-family: "Happy Monkey", system-ui;
    font-style: bold;
    text-align: center;
    background-color: #a2d2ff;
    color: #ffffff;
    font-size: 25px;
}

#sonia-1, #sonia-2 {
    border-radius: 80%;
    border: 6px solid #EFB0C9;
    margin: 20px;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 2px black;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 30px 0 50px 0;
}

#bday-date {
    background: #EFB0C9;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 700px;
    border: 5px solid #EFB0C9;
    border-radius: 10px;
}