 body {
    font-family: "Happy Monkey", system-ui;
    font-style: bold;
    text-align: center;
    background-color: #a2d2ff;
    color: #ffffff;
    font-size: 25px;
    background: linear-gradient(lightskyblue, pink);
}

#sonia-1, #sonia-2 {
    border-radius: 80%;
    border: 6px solid #EFB0C9;
    margin: 20px;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 2px black;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 30px 0 50px 0;
}

#bday-date {
    background: #EFB0C9;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    background-image: url("images/gift.png"); 
    background-size: cover;
    background-position: center;
    width: 700px;
    height: 700px;
    border: 5px solid #df4985;
    border-radius: 10px;
    align-items: center;
    margin: 0px auto;
}

#image-1:hover {
    background-image: url("images/100.webp");
}

.gifts {
    margin-top: 50px;
}

.prompt {
    margin-bottom: 20px;
}

.action {
    margin-top: 0;
}

#image-2:hover {
    background-image: url("images/200.webp");
}

#image-3:hover {
    background-image: url("images/300.webp");
}

#image-4:hover {
    background-image: url("images/400.webp");
}

#image-5:hover {
    background-image: url("images/500.webp");
}

footer {
    margin-top: 30px;
}

